{% extends 'layout.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}
        <h1>할일을 적어 봅시다.</h1>


    <div class="">
        {% include "form.html" with submit_label="생성" %}
    </div>

    <div class="">
        <ul class="list-group list-group-flush">
            {% for list in lists %}
              <li class="list-group-item">
                  <span>
                      {{list.todo}}
                  </span>
                  <span>
                      <a href="">
                          <button type="button" class="btn btn-outline-warning">수정</button>
                      </a>
                  </span>
                  <span>
                      <a href="/delete/{{list.id}}">
                          <button type="button" class="btn btn-outline-danger">삭제</button>
                      </a>
                  </span>
              </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
</body>
</html>